---
http_interactions:
- request:
    method: post
    uri: https://getpocket.com/v3/get
    body:
      encoding: UTF-8
      string: '{"detailType":"complete","consumer_key":"22222-dddddddddddddddddddddddd","access_token":"33333333-ffff-9999-5555-222222"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Limit-Key-Limit:
      - '10000'
      X-Limit-Key-Remaining:
      - '9999'
      X-Limit-Key-Reset:
      - '3600'
      X-Limit-User-Limit:
      - '320'
      X-Limit-User-Remaining:
      - '319'
      X-Limit-User-Reset:
      - '3600'
      X-Source:
      - Pocket
    body:
      encoding: UTF-8
      string: '{ "complete": 1, "list": { "20100843": { "excerpt": "Eric Wong''s mostly pure-Ruby HTTP backend, Unicorn, is an inspiration. I''ve studied this file for a couple of days now and it''s undoubtedly one of the best, most densely packed examples of Unix programming in Ruby I''ve come across.", "favorite": "0", "given_title": "I like Unicorn because it''s Unix", "given_url": "http://tomayko.com/writings/unicorn-is-unix", "has_image": "1", "has_video": "0", "image": { "height": "300", "item_id": "20100843", "src": "http://images-2.redbubble.com/img/clothing/bodycolor:white/size:medium/style:mens/view:main/76841-16-the-wrong-unicorn-t-shirt.jpg", "width": "300" }, "images": { "1": { "caption": "", "credit": "", "height": "300", "image_id": "1", "item_id": "20100843", "src": "http://images-2.redbubble.com/img/clothing/bodycolor:white/size:medium/style:mens/view:main/76841-16-the-wrong-unicorn-t-shirt.jpg", "width": "300" } }, "is_article": "1", "is_index": "0", "item_id": "20100843", "resolved_id": "20100843", "resolved_title": "I like Unicorn because it''s Unix", "resolved_url": "http://tomayko.com/writings/unicorn-is-unix", "sort_id": 52, "status": "0", "tags": {"10min": {"item_id": "20100843", "tag": "10min"}}, "time_added": "1388920888", "time_favorited": "0", "time_read": "0", "time_updated": "1395513588", "word_count": "1510" }, "268532153": { "excerpt": "Our latest post comes from Giles Bowkett. Giles recently wrote a book, Rails As She Is Spoke, which explores Rails’ take on OOP and its implications. It’s an informative and entertaining read, and you should buy it.", "favorite": "0", "given_title": "DCI, Concerns and Readable Code - Code Climate Blog", "given_url": "http://blog.codeclimate.com/blog/2012/12/19/dci-concerns-and-readable-code/", "has_image": "0", "has_video": "0", "is_article": "1", "is_index"[...]
